/*
您可以在这里输入任何 GTK+ 可识别的 CSS 规则。
您可以点击上面的“暂停”按钮来暂时停用这个自定义 CSS。

变更会立即应用到全局，影响整个应用程序。
*/

/* @import url("resource://org/gtk/daleclack/reset.css"); */

.finder_box box{
	background-color:alpha(white,0.55);
}

/* Background color in the box should be transparent*/
.finder_buttons box{
    background-color: transparent;
}

.finder_buttons separator{
    background-color: transparent;
}

.dock_style grid{
    background-color: alpha(white, 0.5);
}
