/*
您可以在这里输入任何 GTK 可识别的 CSS 规则。
您可以点击上面的“暂停”按钮来暂时停用这个自定义 CSS。

变更会立即应用到全局，影响整个应用程序。
*/
/* @import url("resource://org/gtk/daleclack/reset.css"); */

/*Style for menubar*/
.dark_style {
    background: alpha(gray, 0.7);
}

.dark_style menubar{
	background-color: alpha(white,0.7);
}

.dark_style box{
    background-color: alpha(white,0.7);
}

.dark_style separator{
	background-color:white;
}

.dark_style menubutton{
    color:white;
}

.dark_style button{
	color:white;
}
